.navbar{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.navbar a{
    font-size: 50px;
    text-decoration: none;
    color: white;
    transition: .3s;
}

.navbar a:hover{
    transform: scale(1.1);
    transition: .3s;
}