body{
    background-color: rgb(125, 209, 248);
    overflow-x: hidden;
}

.flexrow{
    flex-direction: row;
}

.column1{
    width: 50vw;
}

.column2{
    background-image: url("../images/foodz.jpg");
    width: 110vw;
    height: 30vh;
    background-position: center;
    margin-left: -10vw;
}

.schedule{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;

}

.schedule input{
    width: 40vw;
    height: 40px;
}

