<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="/static/js/functions.js" defer></script>

</head>

<body>
    <!--Landing Page-->
 
    <div class="navbar">
        <a href="/">Home </a>
        <a href="/chat/">Community </a>
        <a href="/logout/">{{username}} </a>
        <a href="/loginregister">Login/Register </a>

        </div>

    <div class="backgroundimage">
        <h1>Food World</h1>

        <div class="continue">
            <a href="/loginregister">
                <h1>Create an Account</h1>
            </a>
        </div>

        <div class="description">
            <h1>Who are we?</h1>
            <h1>Login to chat with the community!</h1>
            <p>Here at Food World, we aim to bring you the freshest recipes from across the world! Here,
                we you can join our community of members across diverse cultures, learning to cook, share, discuss
                , and taste recipes you are yet to experience. Our policy is to be respectful and our services are free of cost as a non-profit
            organization so you and other beginner cooks can spread culture diversity. </p>
        </div>
    </div>

   

</body>