<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/loginregister.css">
    <link rel="stylesheet" href="/static/css/navbar.css">


    <script src="/static/js/functions.js" defer></script>

</head>

<body>
    <!--Landing Page-->
    <div class="backgroundcolor">
        <div class="navbar">
        <a href="/">Home </a>
        <a href="/chat/">Community </a>
        <a href="/logout/">{{username}} </a>
        <a href="/stats/">Stats </a>
        </div>
        <h3>password requirements: minimum 8 characters, includes numbers, letters, and special character, and a capital</h3>
    </div>
 
    <div class="forms">

    <form action="/login/" method="POST">
        {% csrf_token %}
        <h1>Already have an account? <br>Login</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" class="submitbutton">
    </form>
        
    <form action="/register/" method="POST">
        {% csrf_token %}
        <h1>Don't have an account yet?<br> Register</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" class="submitbutton">
        
    </form>
    
   </div>

   <div class="backgroundcolor">

   </div>

</body>